/Homeworks/MiniHW-1/MiniHW-1.Zoo/obj/
/Homeworks/MiniHW-1/MiniHW-1.Zoo/bin/
/Homeworks/MiniHW-1/MiniHW-1.Zoo.Domain/obj/
/Homeworks/MiniHW-1/MiniHW-1.Zoo.Domain/bin/

/Homeworks/BankHSE/BankHSE/obj/
/Homeworks/BankHSE/.idea/
/Homeworks/BankHSE/BankHSE.Domain/obj/
/Homeworks/BankHSE/BankHSE.Domain/.idea/
/Homeworks/BankHSE/BankHSE.Application/obj/
/Homeworks/BankHSE/BankHSE.Application/.idea/