.idea
logs
.env

TextScanner.ApiGateway/obj/
TextScanner.ApiGateway/bin/

TextScanner.FileAnalysisService/obj/
TextScanner.FileAnalysisService/bin/

TextScanner.FileStoringService/obj/
TextScanner.FileStoringService/bin/
TextScanner.FileStoringService/uploads/

