.idea
ZooManagement.Presentation/obj/
ZooManagement.Application/obj/
ZooManagement.Domain/obj/
ZooManagement.Infrastructure/obj/
ZooManagement.Tests/obj/
ZooManagement.Application/bin/
ZooManagement.Presentation/bin/
ZooManagement.Domain/bin/
ZooManagement.Infrastructure/bin/
ZooManagement.Tests/bin/
ZooManagement.Tests/CoverageReport/
ZooManagement.Tests/coverage.lcov